{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Change a note{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Change a note</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% bootstrap_formset formset layout='horizontal' %}
                {% buttons submit='Change' %}{% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}